@model List<WebApplicationmvs1.Models.PostText>

@{
    ViewBag.Title = "Psyhologia";
}

<div class="jumbotron">
    <h2>Новая статья</h2>
</div>

@foreach (var post in Model)
{
    <div>@post.Id, @post.Name</div>
}




<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            .... agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build it </h2>
        <p>easy to add</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Download it </h2>
        <p>..........</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>